@using StarWarsTopTrumps.Engine
@model StarWarsTopTrumps.Models.GameData

@{
    ViewData["Title"] = "Start Game";
}

<div class="mt-5">
    @if (Model.CardsDealt)
    {
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="card-title">
                            @if (Model.Player1.ToStart)
                            {
                                <span class="badge badge-warning">@Model.Player1.Name.ToUpper() TO START</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">@Model.Player1.Name.ToUpper()</span>
                            }

                            <div class="float-right">
                                <span class="small">Cards left:</span> <span class="badge badge-danger">@Model.Player1.StarShipCardHand.Count</span>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label>Starship Name:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].Name</strong>
                            </li>
                            <li class="list-group-item">
                                <label>Cost of credits:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].CostOfCredits</strong>
                                
                                @if (Model.HandResult.Equals(HandResult.None))
                                {
                                    @Html.ActionLink("Play", "CompareAttributes", "Home", new { attribute = StarShipAttributes.CostOfCredits }, new { @class="float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label>Hyper-Drive Rating:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].HyperDriveRating</strong>
                                @if (Model.HandResult.Equals(HandResult.None))
                                {
                                    @Html.ActionLink("Play", "CompareAttributes", "Home", new { attribute = StarShipAttributes.HyperDriveRating }, new { @class="float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label>Top speed:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].TopSpeed</strong>
                                @if (Model.HandResult.Equals(HandResult.None))
                                {
                                    @Html.ActionLink("Play", "CompareAttributes", "Home", new { attribute = StarShipAttributes.TopSpeed }, new { @class="float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label>No. of films:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].NumberOfFilms</strong>
                                @if (Model.HandResult.Equals(HandResult.None))
                                {
                                    @Html.ActionLink("Play", "CompareAttributes", "Home", new { attribute = StarShipAttributes.NumberOfFilms }, new { @class="float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label>Crew Required:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].CrewRequired</strong>
                                @if (Model.HandResult.Equals(HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attribute = StarShipAttributes.CrewRequired }, new { @class="float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="card-title">
                            @if (Model.Player2.ToStart)
                            {
                                <span class="badge badge-warning">@Model.Player2.Name.ToUpper() TO START</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">@Model.Player2.Name.ToUpper()</span>
                            }
                            
                            <div class="float-right">
                                <span class="small">Cards left:</span> <span class="badge badge-danger">@Model.Player2.StarShipCardHand.Count</span>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label>Starship Name:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].Name</strong>
                            </li>
                            <li class="list-group-item">
                                <label>Credits Cost:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].CostOfCredits</strong>
                            </li>
                            <li class="list-group-item">
                                <label>Hyper-Drive Rating:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].HyperDriveRating</strong>
                            </li>
                            <li class="list-group-item">
                                <label>Top Speed:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].TopSpeed</strong>
                            </li>
                            <li class="list-group-item">
                                <label>No. Of Films:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].NumberOfFilms</strong>
                            </li>
                            <li class="list-group-item">
                                <label>Crew Required:</label>
                                <strong>@Model.Player2.StarShipCardHand[0].CrewRequired</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.HandResult != HandResult.None)
        {
            <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('#modal').modal();
                });
            </script>
        }
        

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Result</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        @if (Model.HandResult.Equals(HandResult.Win))
                        {
                            <div class="alert alert-success mt-2" role="alert">
                                <h4 class="alert-heading">Player Wins</h4>
                                <p>@Model.HandMessage</p>
                            </div>
                        }

                        @if (Model.HandResult.Equals(HandResult.Lose))
                        {
                            <div class="alert alert-danger mt-2" role="alert">
                                <h4 class="alert-heading">Computer Wins</h4>
                                <p>@Model.HandMessage</p>
                            </div>
                        }

                        @if (Model.HandResult.Equals(HandResult.Draw))
                        {
                            <div class="alert alert-warning mt-2" role="alert">
                                <h4 class="alert-heading">It's a draw</h4>
                            </div>
                        }

                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Next Card", "Play", "Home", new { player = 1, result = string.Empty, message = string.Empty, nextCard = true }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>