@model StarWarsTopTrumps.Models.GameData

@{
    ViewData["Title"] = "Start Game";
}

<div class="mt-5">
    @if (Model.CardsDealt)
    {
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">
                            @if (Model.Player1.ToStart)
                            {
                                <span class="badge badge-warning">@Model.Player1.Name.ToUpper() TO START</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">@Model.Player1.Name.ToUpper()</span>
                            }

                            <div class="float-right">
                                <span class="small">Cards left:</span> <span class="badge badge-danger">@Model.Player1.StarShipCardHand.Count</span>
                            </div>
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label class="d-block">Starship Name:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].Name</strong>
                            </li>
                            <li class="list-group-item">
                                <label class="d-block">Cost of credits:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].CostOfCredits</strong>
                                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attr = "cost" }, new { @class = "float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label class="d-block">Hyperdrive Rating:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].HyperDriveRating</strong>
                                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attr = "hyperdrive" }, new { @class = "float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label class="d-block">Top speed:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].TopSpeed</strong>
                                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attr = "speed" }, new { @class = "float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label class="d-block">No. of films:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].NumberOfFilms</strong>
                                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attr = "films" }, new { @class = "float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                            <li class="list-group-item">
                                <label class="d-block">Crew Required:</label>
                                <strong>@Model.Player1.StarShipCardHand[0].CrewRequired</strong>
                                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                                {
                                    @Html.ActionLink("Play", "compareattributes", "home", new { attr = "crew" }, new { @class = "float-right btn btn-outline-primary btn-sm" })
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                @if (!Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.None))
                {
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">
                                @if (Model.Player2.ToStart)
                                {
                                    <span class="badge badge-warning">@Model.Player2.Name.ToUpper() TO START</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">@Model.Player2.Name.ToUpper()</span>
                                }
                            </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <label class="d-block">Starship Name:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].Name</strong>
                                </li>
                                <li class="list-group-item">
                                    <label class="d-block">Cost of credits:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].CostOfCredits</strong>
                                </li>
                                <li class="list-group-item">
                                    <label class="d-block">Hyperdrive Rating:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].HyperDriveRating</strong>
                                </li>
                                <li class="list-group-item">
                                    <label class="d-block">Top speed:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].TopSpeed</strong>
                                </li>
                                <li class="list-group-item">
                                    <label class="d-block">No. of films:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].NumberOfFilms</strong>
                                </li>
                                <li class="list-group-item">
                                    <label class="d-block">Crew Required:</label>
                                    <strong>@Model.Player2.StarShipCardHand[0].CrewRequired</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm">

                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.Win))
                {
                    <div class="alert alert-success mt-2" role="alert">
                        <h4 class="alert-heading">Player Wins</h4>
                        <p>@Model.HandMessage</p>
                    </div>
                }

                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.Lose))
                {
                    <div class="alert alert-danger mt-2" role="alert">
                        <h4 class="alert-heading">Computer Wins</h4>
                        <p>@Model.HandMessage</p>
                    </div>
                }

                @if (Model.HandResult.Equals(StarWarsTopTrumps.Engine.HandResult.Draw))
                {
                    <div class="alert alert-warning mt-2" role="alert">
                        <h4 class="alert-heading">It's a draw</h4>
                    </div>
                }

            </div>
        </div>
    }
</div>