@page "/play"

@using StarWarsTopTrumps.Engine
@inject NavigationManager _navigationManager

@if (_loading)
{
    <div>Loading...</div>
}
else
{
    <div class="container">
        @if (GameData.CardsDealt)
        {
            <div class="row">
                <div class="column">
                    <div class="column-contents">
                        <div class="row">
                            <div class="column">
                                <div>
                                    <label>Remaining Cards: <strong>@GameData.Player1.StarShipCardHand.Count</strong></label>
                                </div>
                            </div>
                            <div class="column" style="text-align: right;">
                                <a href="/">Home</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="score">
                                    <div class="row">
                                        <div class="column" style="text-align: left;">
                                            @GameData.Player1.Name
                                            <h1 style="margin-bottom: 0;color: #4de129;">@GameData.Player1.Score</h1>
                                        </div>
                                        <div class="column" style="text-align: left;">
                                            <h1 style="text-align: center;">Score</h1>
                                        </div>
                                        <div class="column" style="text-align: right;">
                                            @GameData.Player2.Name
                                            <h5 style="margin-bottom: 0;color: #ff0000">@GameData.Player2.Score</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                @if (GameData.Player1.StarShipCardHand.Count > 0)
                                {
                                    <div class="attributes">
                                        @if (GameData.Hand.HandResult.Equals(HandResult.None))
                                        {
                                            <div style="padding: 0 0 10px 0; text-align: center;">
                                                <small>Starship Name:</small>
                                                <h1>@GameData.Player1.StarShipCardHand[0].Name.ToUpper()</h1>
                                            </div>

                                            <button @onclick="e => CompareAttributes(StarShipAttributes.CostOfCredits.ToString())">
                                                <span class="button-attribute">Cost of Credits</span>
                                                <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CostOfCredits</span>
                                            </button>

                                            <button @onclick="e => CompareAttributes(StarShipAttributes.CargoCapacity.ToString())">
                                                <span class="button-attribute">Cargo Capacity</span>
                                                <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CargoCapacity</span>
                                            </button>

                                            <button @onclick="e => CompareAttributes(StarShipAttributes.TopSpeed.ToString())">
                                                <span class="button-attribute">Top Speed</span>
                                                <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].TopSpeed</span>
                                            </button>

                                            <button @onclick="e => CompareAttributes(StarShipAttributes.NumberOfFilms.ToString())">
                                                <span class="button-attribute">No. of Films</span>
                                                <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].NumberOfFilms</span>
                                            </button>

                                            <button @onclick="e => CompareAttributes(StarShipAttributes.CrewRequired.ToString())">
                                                <span class="button-attribute">Crew Required</span>
                                                <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CrewRequired</span>
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                        @if (GameData.Hand.HandResult != HandResult.None)
                        {
                            if (GameData.Hand.Message != string.Empty)
                            {
                                @if (GameData.Hand.HandResult.Equals(HandResult.Draw))
                                {
                                    <h1 class="result draw">@GameData.Hand.Message</h1>
                                }
                                else if (GameData.Hand.HandResult.Equals(HandResult.Lose))
                                {
                                    <h1 class="result lose">@GameData.Hand.Message</h1>
                                }
                                else
                                {
                                    <h1 class="result win">@GameData.Hand.Message</h1>
                                }
                                <div class="row">
                                    <div class="column">
                                        <h4 style="margin-bottom: 0;color: #ffd800">@GameData.SelectedAttribute</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label style="color: #4de129;">P: <strong>@GameData.Hand.Player1Value</strong></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label>C: @GameData.Hand.Player2Value</label>
                                    </div>
                                </div>
                                <div style="margin-top: 15px;">
                                    <button @onclick="NextCards">Continue</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No cards have been dealt</p>
        }
    </div>
}
