@page "/play"

@using StarWarsTopTrumps.Engine
@inject NavigationManager _navigationManager

@if (_loading)
{
    <div>Loading...</div>
}
else
{
    <div>
        @if (GameData.CardsDealt)
        {
            <div class="row">
                <div class="column">
                    <div class="column-contents">
                        <div>
                            @GameData.Player1.Name : <strong>@GameData.Player1.Score</strong>
                            &nbsp;
                            /
                            &nbsp;
                            @GameData.Player2.Name : <strong>@GameData.Player2.Score</strong>
                        </div>

                        <div>
                            <label>Remaining Cards: <strong>@GameData.Player1.StarShipCardHand.Count</strong></label>
                        </div>
        
                        @if (GameData.Player1.StarShipCardHand.Count > 0)
                        {
                            <div class="attributes">
                                @if (GameData.Hand.HandResult.Equals(HandResult.None))
                                {
                                    <div style="padding: 0 0 10px 0;">
                                        <label>Starship Name:</label>
                                        <strong>@GameData.Player1.StarShipCardHand[0].Name</strong>
                                    </div>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CostOfCredits.ToString())">
                                        Cost of credits: @GameData.Player1.StarShipCardHand[0].CostOfCredits
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CargoCapacity.ToString())">
                                        Cargo Capacity: @GameData.Player1.StarShipCardHand[0].CargoCapacity
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.TopSpeed.ToString())">
                                        Top speed: @GameData.Player1.StarShipCardHand[0].TopSpeed
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.NumberOfFilms.ToString())">
                                        No. of films: @GameData.Player1.StarShipCardHand[0].NumberOfFilms
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CrewRequired.ToString())">
                                        Crew Required: @GameData.Player1.StarShipCardHand[0].CrewRequired
                                    </button>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="column">
                    <div class="column-contents">
                        @if (GameData.Hand.HandResult != HandResult.None)
                        {
                            if (GameData.Hand.Message != string.Empty)
                            {
                                @if (GameData.Hand.HandResult.Equals(HandResult.Draw))
                                {
                                    <h4>@GameData.Hand.Message</h4>
                                }
                                else if (GameData.Hand.HandResult.Equals(HandResult.Lose))
                                {
                                    <h4>@GameData.Hand.Message</h4>
                                }
                                else
                                {
                                    <h4>@GameData.Hand.Message</h4>
                                }

                                <div style="padding: 0 0 10px 0;">
                                    <label>Player: <strong>@GameData.Hand.Player1Value</strong></label>
                                    <label>Computer: <strong>@GameData.Hand.Player2Value</strong></label>
                                </div>

                                <button @onclick="NextCards">Continue</button>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No cards have been dealt</p>
        }
    </div>
}
