@page "/play"

@using StarWarsTopTrumps.Engine
@inject NavigationManager _navigationManager

@if (_loading)
{
    <div>Loading...</div>
}
else
{
    <div style="padding: 20px 0;">
        
        @if (GameData.CardsDealt)
        {
            <div class="row">
                <div class="column">
                    <div class="column-contents">

                        <div class="row">
                            <div class="column">
                                <div>
                                    @GameData.Player1.Name : <strong>@GameData.Player1.Score</strong>
                                </div>

                                <div>
                                    @GameData.Player2.Name : <strong>@GameData.Player2.Score</strong>
                                </div>

                                <div>
                                    <label>Remaining Cards: <strong>@GameData.Player1.StarShipCardHand.Count</strong></label>
                                </div>
                            </div>
                            <div class="column" style="text-align: right;">
                                <a href="/">Home</a>
                            </div>
                        </div>

                        @if (GameData.Player1.StarShipCardHand.Count > 0)
                        {
                            <div class="attributes">
                                @if (GameData.Hand.HandResult.Equals(HandResult.None))
                                {
                                    <div style="padding: 0 0 10px 0;">
                                        <label>Starship Name:</label>
                                        <strong>@GameData.Player1.StarShipCardHand[0].Name</strong>
                                    </div>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CostOfCredits.ToString())">
                                        <span class="button-attribute">Cost of Credits</span>
                                        <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CostOfCredits</span>
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CargoCapacity.ToString())">
                                        <span class="button-attribute">Cargo Capacity</span>
                                        <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CargoCapacity</span>
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.TopSpeed.ToString())">
                                        <span class="button-attribute">Top Speed</span>
                                        <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].TopSpeed</span>
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.NumberOfFilms.ToString())">
                                        <span class="button-attribute">No. of Films</span>
                                        <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].NumberOfFilms</span>
                                    </button>

                                    <button @onclick="e => CompareAttributes(e, StarShipAttributes.CrewRequired.ToString())">
                                        <span class="button-attribute">Crew Required</span>
                                        <span class="button-attribute-value">@GameData.Player1.StarShipCardHand[0].CrewRequired</span>
                                    </button>
                                }
                            </div>
                        }

                        @if (GameData.Hand.HandResult != HandResult.None)
                        {
                            if (GameData.Hand.Message != string.Empty)
                            {
                                @if (GameData.Hand.HandResult.Equals(HandResult.Draw))
                                {
                                    <h1>@GameData.Hand.Message</h1>
                                }
                                else if (GameData.Hand.HandResult.Equals(HandResult.Lose))
                                {
                                    <h1>@GameData.Hand.Message</h1>
                                }
                                else
                                {
                                    <h1>@GameData.Hand.Message</h1>
                                }

                                <div class="row">
                                    <div class="column">
                                        <label>Player:</label>
                                    </div>
                                    <div class="column" style="text-align: right;">
                                        <strong>@GameData.Hand.Player1Value</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="column">
                                        <label>Computer:</label>
                                    </div>
                                    <div class="column" style="text-align: right;">
                                        <strong>@GameData.Hand.Player2Value</strong>
                                    </div>
                                </div>

                                <div style="margin-top: 15px;">
                                    <button @onclick="NextCards">Continue</button>
                                </div>
                                
                            }
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No cards have been dealt</p>
        }
    </div>
}
